certifi==2026.6.17
charset-normalizer==3.4.7
dnspython==2.8.0
greenlet==3.5.3
idna==3.18
importlib_metadata==9.0.0
packaging==26.2
pydle==1.1.0
pytz==2026.2
requests==2.34.2
sopel==8.0.4
sopel-help==0.5.2
SQLAlchemy==1.4.54
typing_extensions==4.16.0
urllib3==2.7.0
xmltodict==0.13.0
zipp==4.1.0
